@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .secondary-bg{
    background-color: antiquewhite;
  }
  /* header style */
.header{
  background-image: url('../images/developer.png') , url(../images/header_bg.png);
  background-repeat: no-repeat ;
  background-position: top left , bottom right;
  background-size: contain; 
   width: 100% , 30%;
  height: 100%, 30%;   
}




  .btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    padding: 18px 30px;
    border: none;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
  }

  .nav-r{
    color: #FD6E0A;
  }

  .nav-title{
    font-weight: 800;
    font-size: 45px;
  }
  nav ul li {
    list-style: none;
    margin-right: 50px;
  }

  nav ul li a {
    text-decoration: none;
    color: #474747;
  }

  nav ul{
    display: flex;
    align-items: center;
    
  }

  /* banner style */


  .bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 150px;
  }
  .bannar-container{
    width: 580px;
  }
.bannar-greeting{
      color: #474747;
      font-size: 30px;
      font-weight: 600;
}

.bannar-header{
font-size: 45px;
font-weight: 700;
}

.bannar-discription{
  color: #757575;
  font-size: 18px;
}

img{
  width: 400px;
  height: 500px;
}

main{
  max-width: 1140px;
  margin: 50px auto;
}

/* about section */

.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
}

.abouts-father{
  border:  2px solid #474747 ;
  padding: 30px;
}

.about-container{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;}

 .section-title{
      
      font-size: 30px;
      font-weight: bold;
}

.section-description {
    color:#474747;
} 

.item-title{
  color: #474747;
}

/* experiance sytle */

.experiance{
  margin: 50px;
}

.ex-img{
  width: 50px;
  height: 35px;
}

.experiance-container{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px ;
 
}

.experiance-header{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
 .experiance-discription{
  color: #474747;
  font-size: 20px;
  text-align: center;
  margin: 0px 50px;
 }


.experiance-item{
  box-shadow: 0px 3px 3px 0px;
  padding: 30px;
  margin: 20px;
  width: 80%;
  border-radius: 5px;
}

/* Resume styles */

.resume-container{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 50px;
}

.resume-header{
  text-align: center;
  color: #474747;
  font-weight: 700;
}

.education-header{
  color: #474747;
}

.eudcation-title{
  color: #757575;
}

.education-description{
  color: #757575;
}
 .job-button{
  width: 200px;
  margin: 0px auto;
 }
 /* footer style */

 .footer{
   display: flex;
   justify-content: space-between;
   padding: 130px 200px;
   background-color: antiquewhite;
   gap: 100px;
 }
/* .social-media{
  align-items: center;
    display: flex;
    height: 96px;
    justify-content: center;
    padding-top: 16px;
    position: relative;
    width: 10%;
    background-size: cover;

} */

.my-img{
  width: 40px;
  height: 30px;
  
}
.my-input{
  height: 60px;
  width: 400px;
}

.A{
  width: 400px;

}
.submit{
  width: 200px;
  margin: 20px auto;
}